*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
@media(max-width:768px){
.desktop_menu,.desk_social,.home_desk_bg{
  display: none;
}
/* /header styling/ */
header{
  background-color: #3C3A39;
  padding: 25px 10px;
  position: fixed;
  width: 100%;
  border-radius: 0 0 8px 8px;
  box-shadow: 4px 1px 1px #FF6B00;
}
header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 700px;
  color: #ffff;
}
.mobile_menu{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 5px;
}
.mobile_menu p{
  padding: 1px 10px;
  background-color: #ffffff;
}
/* /hero section styling/ */
.home{
  padding: 120px 0 20px 24px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.home h1{
  color: #FF6B00;
  font-size: 50px;
  font-weight: 400;
  line-height: 64px;
}
.home h2{
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.home p{
  color: #ffffff;
  padding-right:10px ;
  font-size: 20px;
}
.home .mob_social ul{
  display: flex;
  gap: 10px;
  list-style: none;
}
.bg{
  display: flex;
  justify-content: end;
  margin-top: -280px;
}
}
/* /PROJECTS SECTION/ */
.projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 150px 18px;
}
.projects_heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.projects_heading h2{
  font-size: 40px;
  font-weight: 400;
}
.projects_heading p{
  background-color: #000000;
  padding: 1px 55px;
}
.dif_card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 327px;
  border: 2px solid #FF6B00;
  padding: 0 5px 5px 5px;
  border-radius: 8px;
  border-top: none;
}
.dif_card span{
  background: url(../images/mob_lone_bg.svg);
  background-size: cover;
background-position: center;
  padding: 120px 163px;
  background-repeat: no-repeat;
  border-radius: 8px;
}
.dif_text{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dif_text h3{
  font-size: 32px;
  font-weight: 400px;
}
.dif_text p{
  font-size: 16px;
  font-weight: 400;
}
.dif_text ul{
  display: flex;
  list-style: none;
  gap: 10px;
}
.dif_text ul li{
  border: 1px solid;
  padding: 10px 12px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
}
.dif_text button{
  width: 124px;
  background-color: #FF6B00;
  padding: 12px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
}
.sim_cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.sim_card{
  width: 327px;
  height: 386px;
  border-radius: 8px;
  background: url(../images/projects_bg.svg);
  background-position: center;
  background-size: cover;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  gap: 10px;
}
.sim_card h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
}
.sim_card p{
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
}
.sim_card ul{
  display: flex;
  gap: 10px;
  list-style: none;
}
.sim_card ul li{
  padding: 5px 8px;
  font-size: 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.sim_card ul li::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background: grey;
  backdrop-filter: blur(10px);
  opacity: 50%;
  border-radius: 2px;
}
.sim_card button{
   width: 100%;
  background-color: #FF6B00;
  padding: 12px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  border: none;
  border-radius: 8px 8px 0 0;
  margin-top: 84px;
  border: 1px solid #ffffff;
}
.about{
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color:#000000;

}
.about_text{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.abt_txt{
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
}
.abt_txt h2{
font-size: 60px;
font-weight: 600;
color: #FF6B00;
}
.abt_txt p{
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}
.abt_txt button{
  width: 190px;
  background-color: #FF6B00;
  padding: 12px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  border: none;
  border-radius: 8px;

}
.abt_bg_desk{
  display: none;
}
.abt_bg{
  display: flex;
  justify-content: end;
  margin-top: -90px;
  padding-left: 20px;

}
.about_cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 5px;

}
.about_card{
  width: 327px;
  height: 340px;
  border: 1px solid #FF6B00;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 4px 4px 20px 20px;
}
.about_card span{
  display: flex;
  gap: 10px;
}
.about_card span h3{
  font-size: 25px;
}
.about_card ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;

}
.about_card ul li{
  font-size: 20px;
}
/*CONTACT SECTION*/
.contact{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 5px;
}
.contact p{
font-size: 32px;
font-weight: 500;
padding:50px 12px;
}
.contact form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.desk_input{
  display: none;
}
.similar{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.mob_input input,.similar input{
  width: 327px;
  padding: 15px 10px;
  border-radius: 8px;
  border: none;
  border-bottom: 1px solid #FF6B00;

}
.mob_input input::placeholder,.similar input::placeholder, .similar textarea::placeholder{
  font-size: 16px;
}
.similar textarea{
  padding: 50px 10px;
  border-radius: 15px;
  border-top: none;
  border-bottom: 1px solid #FF6B00;
}
.contact form button{
  width: 190px;
  background-color: #FF6B00;
  padding: 12px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
}
/*FOOTER STYLING*/
footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color:#000000;
  border-radius: 15px 15px 0 0;
  padding: 25px 25px;
  margin-top: 20px;
  color: #ffffff;
}
.foot_social ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
.line marquee p a{
  text-decoration: none;
  color: #FF6B00;
  font-size: 16px;
  font-weight: 400;

}
.line marquee p i{
  font-size: 16px;
  font-weight: 400;
}
.line blockquote{
  margin: bottom 25px; ;
}

.line span{
  background-color: #FF6B00;
  padding: 1px 150px;
  width: 300px;
  margin: 50px;
  border-radius: 15px;
  border-bottom: 1px solid #ffffff;
}
